{{- with .Title -}}
  {{- if eq . "eyerub" }}
  <p>Posts tagged with 'eyerub' are simply thoughts I need to get out of my head. None of these have been given much critical internal review. Indeed the point of an "eyerub" is to allow me to air out an idea or line of thought so I can quit chasing it internally.</p>
  {{- else if eq . "condecision" }}
  <p>Posts tagged with 'condecision' explore states of indecision or cognitive dissonance that impede clarity or resolution, often delving into the nuances of hesitant decision-making and its outcomes.</p>
  {{- else }}
  <p>Posts tagged with '{{ . }}'.</p>
  {{- end }}
{{- end }}
